mat-card-content {
    span {
        font-weight: bold;
    }
    input {
        font-size: 16px;
        padding: 5px;
    }
}

.heroes {
    margin: 20px;
    margin-top: 0px;
    list-style-type: none;
    padding: 5px;
    padding-bottom: 3px;
    width: 15em;

    li {
        padding: 10px;
        font-size: 18px;
        
        a {
            padding: 10px;
            text-decoration: none;
            color: #000;
            &:hover {
                background-color: #999;
            }
        }
    }


  .mat-card-title {
    padding: 15px;
    margin-bottom: 5px;
    background-color: #91e2ec;
}

  mat-list-item {
    cursor: pointer;
    &:hover {
        background-color: #999;
    }
  }
}

.selected {
    background-color: #CFD8DC !important;
    color: white;
    width: 40px;
    cursor: pointer;
  }

  .flex-container {
    display: flex;
    justify-content: left;

}

