
    <div class="flex-container">
            <div>   <mat-card class="heroes">
                    <mat-card-title>My Heroes</mat-card-title>
                    <mat-card-content>
            
                <mat-list role="list">
                        <ul class="heroes">
                                <li *ngFor="let hero of heroes">
                                  <a routerLink="/detail/{{hero.id}}">
                                    <span class="badge">{{hero.id}}</span> {{hero.name}}
                                  </a>
                                </li>
                              </ul>
                  </mat-list>
            
                  </mat-card-content>
                  </mat-card>
                </div>
          
          </div>
